
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/TFG.iml
.idea/vcs.xml
sounds/asr-spanish
requirements.txt
.vscode/*
*.pyc
StreamAnalyzer/data.log
*.rdb
